.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #1f2937;
  color: #f9faf8;

  padding: 16px;
}

.header__logo {
  font-size: 24px;
}

.header__nav-list {
  display: flex;
  gap: 20px;

  list-style: none;
}

.header__nav-list-link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}